---
---

@import "{{ site.theme }}";

#sidebar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	// margin-left: -0.5em;

	// &::before {
	// 	content: "";
	// 	display: none;
	// }
}

.gp_hidden {
	display: none;
}

.site-footer-credits {
	display: none;
}

.spoiler {
	background-color: #fffae8;
	padding: 0.6em 1em;
	margin-bottom: 20px;

	.spoiler_text {
		font-size: 1.1em;
		color: #00f;
		text-decoration: underline;
		font-style: italic;
		cursor: pointer;

		&::before {
			display: inline-block;
			content: "►";
			margin-right: 0.3em;
			transition: 0.2s transform ease-in-out;
		}

		&::after {
			display: inline-block;
			content: "Show SVG image";
		}

	}

	&.shown {
		.spoiler_text::before {
			transform: rotate(90deg);
		}

		.spoiler_content {
			max-height: none;
		}
	}

	.spoiler_content {
		max-height: 0;
		overflow: hidden;
	}
}
